body {
    overflow-x: hidden;
    font-family: sans-serif;
    color: #505962;
}
.navbar-brand img {
    height: 40px;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size: 500;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
    font-size: 200;
    font-weight: 500;
    text-shadow: 1px 1px 15px #000;
    padding-bottom: 1rem;
}
.pure-button {
    background-color: #006fb9;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}
.pure-button:hover {
    background-color: #39a6f0;
    color: rgb(255, 255, 255);
    padding: 0.5em 2em;
    border-radius: 5px;
}
h3.heading {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 32px;
    font-weight: bolder;
}
h4.heading {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
h4.dist-heading {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: chocolate; 
    background-color: burlywood;
    padding: 10px;
}
.pker {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
.pker2 {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    margin-left: 80px;
    margin-right: 700px;
}
.hker {
    margin: 20px;
}
.pdist {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    margin-top: 10px;
}
.pdist-2 {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    margin:10px 15px 30px 20px;
}
img.dist-img {
    width: 438px;
    height: 300px;
}
.sidebar .nav-link,
.sidebar .navbar-brand {
    color: #687384;
} 
.sidebar .nav-link:hover,
.sidebar .navbar-brand:hover {
    color: #fff;
}

img.imggrid {
    max-width: 100%;
}
.no-padding .col-md-3 {
    padding: 10px;
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}
.card {
    margin: 32px;
}
.districts {
    margin-top: 3%;
}

.social a{
    font-size: 50px;
    padding: 30px;
}
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color: #00aced;
}
.fa-youtube{
    color: #bb0000;
}
.fa-instagram{
    color: #517fa4;
}
    .fa-facebook:hover,
    .fa-twitter:hover,
    .fa-youtube:hover,
    .fa-instagram:hover{
    color: #d5d5d5;
}
#footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-bottom: 10px;
    text-align: center;
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 16px;
}
/* particle movement */
#particles-js{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(/images/kerala_index1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 98%;
}
#particles-js-login{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/images/kerala_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#particles-js-logout{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/images/kerala_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* signin page */
#signin h1{
    margin-bottom: 40px;
    color: whitesmoke;
    text-align: center;
}

.form-group label{
    font-size: 20px;
    color: whitesmoke;
}
.forgot,.form-check{
    display: inline-block;
}
.form-check{
    margin-left: 30px;
}
.forgot a{
    color: rgb(221, 47, 47);
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 240px;
}
.newacc {
    margin: 15px 270px 0px 0px;
    color: #000000;
    font-size: 18px;
  }

.newacc a{
    color: rgb(33, 11, 228);
    text-decoration: none;
    font-weight: bold;
}

/* signup page */
#signup h1{
    margin-bottom: 38px;
    color: whitesmoke;
    text-align: center;
}
.memb{
    margin: 10px 0 0;
    color: white;
    font-size: 18px;
}
.memb a{
    color: rgb(89, 0, 255);
    font-weight: bold;
    text-decoration: none;
}
.form-group label{
    font-size: 18px;
    color: whitesmoke;
}
.form-group small
{  
    visibility: hidden;
}
